body {
    font-family: "Montserrat";
    background-color: #f0ebeb;
}

#overlay {
     background-color: rgba(0, 0, 0, 0.664);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

#jumbo {
    color: #fff;
    height: 700px;
    display: flex;
    align-items: center;
    font-weight: 400;
    letter-spacing: 5px;
    text-align: center;
    background: url('../images/presents.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    #jumboBtn {
        background-color: black !important;
        border: 0;
        outline: 0;
        border-radius: 0;
        padding: 10px 40px;
        transition: all 1s ease;
        border: 1px solid #fff !important;
    }
}

.content-title {
    font-size: 4rem;
}
